<h1 style="text-align:center;font-family:helvetica,sans-serif">
  Temperature Converter
</h1>
<p style="text-align: center;font-family:helvetica,sans-serif">
  Enter a number
</p>
<div>
  <form align="center">
    <input type="text" placeholder="200" style="width:250px;height:25px" />
  </form>
  <br />
</div>
<body>
  <form>
    <div style="text-align: center; ">
      <input type="radio" id="html" name="fav_language" value="HTML" />  
      <label for="html" style="font-family:helvetica,sans-serif"
        >Convert to Centigrade</label
      >
      <br />&nbsp;
      <input type="radio" id="css" name="fav_language" value="CSS" /> 
      <label for="css" style="font-family:helvetica,sans-serif"
        >Covert to Fahrenheit</label
      >
    </div>
  </form>
  <br />
  <br />
  <button
    mat-raised-button
    style="
  background-color: rgb(28, 101, 247);
  display: block;
  margin: auto;
  color:white;
  font-family: Helvetica, sans-serif;
"
  >
    Convert
  </button>
  <br />
  <h1 style="font-family:helvetica,sans-serif;text-align:center">
    93.33&deg;C
  </h1>
  <hr />
</body>
<h1 style="text-align:center;font-family:helvetica,sans-serif">
  Temperature Converter
</h1>
<p style="text-align: center;font-family:helvetica,sans-serif">
  Enter a number
</p>
<div>
  <form align="center">
    <input type="text" placeholder="200" style="width:250px;height:25px" />
  </form>
  <br />
</div>
<body>
  <form>
    <div style="text-align: center; ">
      <input type="radio" id="html" name="fav_language" value="HTML" />  
      <label for="html" style="font-family:helvetica,sans-serif"
        >Convert to Centigrade</label
      >
      <br />&nbsp;
      <input type="radio" id="css" name="fav_language" value="CSS" /> 
      <label for="css" style="font-family:helvetica,sans-serif"
        >Covert to Fahrenheit</label
      >
    </div>
  </form>
  <br />
  <br />
  <button
    mat-raised-button
    style="
background-color: rgb(28, 101, 247);
display: block;
margin: auto;
color:white;
font-family: Helvetica, sans-serif;
"
  >
    Convert
  </button>
  <br />
  <h1 style="font-family:helvetica,sans-serif;text-align:center">
    392.00&deg;F
  </h1>
</body>
